/* Reset inicial */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo */
body
{
    width: 100vw;
    min-height: 100vh;
    background-color: #153677;
    background-image: linear-gradient(135deg, #153677, #4e085f);

    display: flex;
    align-items: center;
}

/* Título */
h1
{
    font-family: arial, 'Edu NSW ACT Cursive';
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 2px #00000032;
    background-color: #ffffff2a;
    padding: 20px 0;
    box-sizing: initial;
    border-radius: 30px 30px 0 0;
    font-size: 2rem;
}

/* Contenedor de la lista en general */
.container
{
    width: clamp(325px, 50%, 800px);
    min-height: 400px;
    background-color: #ffffff4a;
    box-shadow: 0 0 20px #00000062;
    border-radius: 30px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    justify-content: center;
}

/* Contenedor de añadir tareas - Incluye el input y el botón */
.container-add
{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50px;
    max-width: 90%;
}

input
{
    min-width: 0;                       /* Por defecto, impide que en resoluciones pequeñas se empequeñezca */
    flex: 1;                            /* Ocupa todo el espacio posible dentro del contenedor */
    border: 0;
    outline: none;                      /* Evita los bordes azules al clickar */
    background: transparent;
    font-size: 1rem;
    background-color: #ffffffa9;
    padding: 15px 3%;
    border-radius: 50px 0 0 50px;
}

.container-add button
{
    flex: 0.1;
    border: none;
    outline: none;
    padding: 15px 7%;
    background-color: #ffaf53;
    border-radius: 0 50px 50px 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;                    /* Al poner el cursor encima, se pone con aspecto para hacer click */

    /* El usuario no puede interactuar con el texto - Seleccionarlo, copiarlo, etc. */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Casilla de terminado */
.terminada
{
    width: clamp(1rem, 6%, 25px);
    margin: 0 10px 0 0;
    text-align: center;     /* Lo debo cambiar en un futuro para el icono que tenga dentro */

    /* Aspecto visual */
    aspect-ratio: 1/1;
    border-color: white;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    position: relative;
    background-color: transparent;
}

/* Casilla dentro de terminado cuando lo clickemos */
.terminada-done
{
    width: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;

}

.more-options
{
    text-align: center;
    margin: 10px;

    /* Aspecto visual */
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;

    /* El usuario no puede interactuar con el texto - Seleccionarlo, copiarlo, etc. */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    position:relative;
}

/* Contenedor de una tarea - Título, círculo de terminado, basura y edición */
.task-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.7rem;
    margin: 0 16px;
    border-bottom: solid 2px #ffffff8b;
}

/* Solo se añade un separador si no es el último */
.task-container:last-child {
    border-bottom: none;
    margin-bottom: 15px;
}

/* Tarea - texto de la tarea */
li
{
    font-family: arial;
    color: #fff;
    font-size: 1rem;
    list-style: none;
    word-break: break-word;
    flex: 1;
    cursor:default;     
    padding: 1rem 0;
    margin: 0 10px 0 5px;
    cursor:default;

    /* El usuario no puede interactuar con el texto - Seleccionarlo, copiarlo, etc. */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Contenedor de contenedor de cada tarea */
ul
{
    text-align: left;
    margin: 0 30px;
}

