/* RESET INICIAL ---------------------------------------------- */
*{
    margin: 0;
    padding: 0;
}

/* FUENTE POR DEFECTO ----------------------------------------- */
html
{
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
}

/* ESTILOS BÁSICOS -------------------------------------------- */
h1
{
    color: white;
    margin-top: 20px;
}

h2
{
    color: #c2c2c5;
    font-size: 1.2rem;
    margin-top: 15px;
}

body
{
    min-height: 100vh;
    background: #0f0f1f;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ESTILOS DEL CARD ---------------------------------------------------------- */
.card
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    box-sizing: border-box;

    width: clamp(200px, 68%, 500px);

    background-color: #232335;
    padding: 2rem;
    border-radius: 15px;

    text-align: center;
}

/* Creamos la propiedad angle - ángulo donde comienza el gradiente */
@property --angle 
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Borde */
.card::after, .card::before
{
    content: '';
    position: absolute;
    /* Diseño del borde y animación ................ */

    /* Colores del borde */
    /* La rotación del gradiente dependerá de la variable --angle */
    background-image: conic-gradient(from var(--angle), #64d8c3, transparent 5%, transparent 45%, #64d8c3 50%, transparent 55%,  transparent 95%, #64d8c3);

    padding: 5px;                   /* Tamaño del borde */
    border-radius: 15px;    
    
    /* Animación - Creamos la animación spin */
    animation: 4s spin linear infinite;

    /* ................................................. */

    /* Su tamaño es exactamente el de card */
    height: 100%;
    width: 100%;

    /* Se encuentra donde .card - En el centro */
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    /* Se encontrará por debajo de este */
    z-index: -2;
}

/* Animación de spin */
@keyframes spin 
{
    from
    {
        --angle: 0deg;
    } 
    to
    {
        --angle: 360deg;
    } 
}

/* Efecto glow - Duplicamos ::after en ::before, pero a before (se encuentra por debajo de ::after) 
    le añado un difuminado */
.card::before
{
    filter: blur(1.5rem);
}


.profile_photo
{
    width: 50%;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 0 10px #0f0f1f;
}

/* --------------- FONDO PARA QUE FUNCIONE LA ANIMACIÓN ----------------- */

.fondo
{
    position: relative;
    box-sizing: border-box;

    width: clamp(100px, 90vmin, 600px);
    aspect-ratio: 1/1;

    padding: 2rem;
    border-radius: 15px;
}

/* Borde */
.fondo::after
{
    content: '';
    position: absolute;
    /* Diseño del borde y animación ................ */

    /* Colores del borde */
    /* La rotación del gradiente dependerá de la variable --angle */
    background-image: conic-gradient(from var(--angle), transparent);

    padding: 5px;                   /* Tamaño del borde */
    border-radius: 15px;    
    
    /* Animación - Creamos la animación spin */
    animation: 4s spin linear infinite;

    /* ................................................. */

    /* Su tamaño es exactamente el de card */
    height: 100%;
    width: 100%;

    /* Se encuentra donde .card - En el centro */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.fondo-card
{   position: absolute;
    width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: 15px;
    background-color: #232335;

    z-index: -1;
}
